html {overflow-y:scroll;} 
body {margin:0; padding:29px00; font:12px"\5B8B\4F53",sans-serif;background:#ffffff;} 
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;} 
table,td,tr,th{font-size:12px;} 
li{list-style-type:none;} 
img{vertical-align:top;border:0;} 
ol,ul {list-style:none;} 
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;} 
address,cite,code,em,th {font-weight:normal; font-style:normal;} 
#calendar {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
.ca-year-head {
	text-align: center;
	font-size: 24px;
	line-height: 32px;
}
.ca-header ul li{
	float: left;
	width: 14.2857%;
	line-height: 32px;
	text-align: center;
}
#calendar .ca-item-box {
	position: absolute;
	top: 64px;
	left: 0;
	width: 100%;
	transition: all .5s ease-in;
}
.ca-week, .ca-date{
	position: relative;
	width: 100%;
}

.ca-week li, .ca-date li{
	width: 14.2857%;
	line-height: 32px;
	text-align: center;
	float: left;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
}

.prev-date, .next-date {
	color: #ccc;
}

.page-active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.page-prev {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}
.page-next {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}